# логин и пароль для доступа к базе данных раздела tasks
TASKS_DB_USER=admin
TASKS_DB_PASSWORD=admin123
# имя базы данных раздела tasks
TASKS_DB=tasks_db
# порт и хост базы данных раздела tasks
TASKS_DB_PORT=5432
TASKS_DB_HOST=tasks_db

# логин и пароль для доступа к базе данных раздела flow
FLOW_DB_USER=admin
FLOW_DB_PASSWORD=admin123
# имя базы данных раздела flow
FLOW_DB=flow_db
# порт и хост базы данных раздела flow
FLOW_DB_PORT=5432
FLOW_DB_HOST=flow_db

# Хост хранилища MinIO
MINIO_URL=minio:9000
# Логин и пароль для доступа к хранилищу MinIO, произвольные
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=admin123

# хост и порт почтового сервера для отправки писем
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
# логин и пароль для доступа к ящику для отправки писем
EMAIL_USERNAME=user@example.com
EMAIL_PASSWORD=change_me

# порт и хост брокера
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

# host сервиса
HOST_URL=http://localhost
HOST_PORT=5173
# endpoint tasks для проверки access JWT из flow
TASKS_USER_ID_URL=http://tasks_backend:8000/user/id

# параметры для шифрования
JWT_ALGORITHM=HS256
SECRET_KEY=verysecretkey

# регистрационныые данные приложения с https://console.cloud.google.com
GOOGLE_CLIENT_ID=google_Client_ID
GOOGLE_CLIENT_SECRET=google_Client_secret
GOOGLE_REDIRECT_URI=google_Authorized_redirect_URIs

# регистрационныые данные приложения с GitLab
GITLAB_CLIENT_ID=client
GITLAB_CLIENT_SECRET=secret
GITLAB_REDIRECT_URI=redirect_url