<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Приближается срок выполнения задачи TaslFlow</title>
</head>
    <body>
        <h2>Приближается срок выполнения задачи</h2>
        <p>Здравствуйте!</p>
        <p>По вашей задаче подходит срок завершения.</p>
        <p>Детали задачи:</p>
        <ul>
            <li>Название: {{ task_name }}</li>
            <li>Проект: {{ project_name }}</li>
            <li>Срок выполнения: {{ task_deadline }}</li>
        </ul>
        <p>Рекомендуем проверить статус задачи и при необходимости внести изменения.</p>
        <a href="{{ task_link }}">Ссылка на задачу</a>
        <p>С уважением,</p>
        <p>Команда TaskFlow</p>
    </body>
</html>