<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Задача стала актуальной TaslFlow</title>
</head>
    <body>
        <h2>Задача стала актуальной</h2>
        <p>Здравствуйте!</p>
        <p>Одна из запланированных задач стала актуальной и необходимо приступить к ее выполнению.</p>
        <p>Детали задачи:</p>
        <ul>
            <li>Название: {{ task_name }}</li>
            <li>Проект: {{ project_name }}</li>
            <li>Срок выполнения: {{ task_deadline }}</li>
        </ul>
        <p>Прямая ссылка на нее находится ниже. Желаем удачи!.</p>
        <a href="{{ task_link }}">Ссылка на задачу</a>
        <p>С уважением,</p>
        <p>Команда TaskFlow</p>
    </body>
</html>